# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/

# Databases
*.sqlite3
*.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Uploads
uploads/

# OS Files
.DS_Store
Thumbs.db

# Build Output
frontend/dist/
frontend/android/app/build/
